@model MvcKap.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeYears" class="control-label"></label>
                <input asp-for="AgeYears" class="form-control" />
                <span asp-validation-for="AgeYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeMonths" class="control-label"></label>
                <input asp-for="AgeMonths" class="form-control" />
                <span asp-validation-for="AgeMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyWeight" class="control-label"></label>
                <input asp-for="BodyWeight" class="form-control" />
                <span asp-validation-for="BodyWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeanBodyWeight" class="control-label"></label>
                <input asp-for="LeanBodyWeight" class="form-control" />
                <span asp-validation-for="LeanBodyWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bcs" class="control-label"></label>
                <input asp-for="Bcs" class="form-control" />
                <span asp-validation-for="Bcs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespRate" class="control-label"></label>
                <input asp-for="RespRate" class="form-control" />
                <span asp-validation-for="RespRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeartRate" class="control-label"></label>
                <input asp-for="HeartRate" class="form-control" />
                <span asp-validation-for="HeartRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BpSystolic" class="control-label"></label>
                <input asp-for="BpSystolic" class="form-control" />
                <span asp-validation-for="BpSystolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BpMean" class="control-label"></label>
                <input asp-for="BpMean" class="form-control" />
                <span asp-validation-for="BpMean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BpDiastolic" class="control-label"></label>
                <input asp-for="BpDiastolic" class="form-control" />
                <span asp-validation-for="BpDiastolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
